@import "helpers/_variables";

//Bootstrap Custom
@import 'vendor/bootstrap-custom';;


// Base stuff
@import "helpers/_mixins";
@import "helpers/_functions";
@import "helpers/_extends";
@import "helpers/_common";

// Sass utilities
@import "helpers/_functions";
@import "helpers/_mixins";

// Components and modules


// Layout related stylesheets
@import "layout/_page-main";


// Page-specific stylesheets


// Vendors and external stylesheets

body {background: #060000;color: #0d0a46;font-size: 18px;-webkit-font-smoothing: antialiased;
  /* width */
  ::-webkit-scrollbar {width: 6px;}
  /* Track */
  ::-webkit-scrollbar-track {background: $color-text-secondary;}
  /* Handle */
  ::-webkit-scrollbar-thumb {background: #d1602b;}
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {background: #d1602b;}
}
