.sprite {background-image: url("../images/pc/sprite.png");background-repeat: no-repeat;background-position: 0 0;font-size: 0;display: inline-block}

.page_main {}
.page_body {}

.logo {margin: 0;display: inline-block;position: absolute;left: 40px;top: 40px;
  a {display: inline-block;font-size: 0;}
  img {width: 280px}
}

.section {background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;background-color: #060000;
  @include media-breakpoint-down(xl) {
    background-size: cover;
  }
}
.section_screen_1 {background-image: url("../images/pc/bg-page-1.jpg") }
.section_screen_2 {background-image: url("../images/pc/bg-page-2.jpg") }
.section_screen_3 {background-image: url("../images/pc/bg-page-3.jpg") }
.section_screen_4 {background-image: url("../images/pc/bg-page-4.png") }

.onepage-pagination {right: inherit;left: 10px;top: 35%;
  li {margin: 0 0 36px;font-size: 0;
    &:last-child {margin: 0}
    a {background: url("../images/pc/sprite.png") no-repeat -455px -653px transparent;width: 27px;height: 30px;display: inline-block;padding: 0;font-size: 0;
      &::before {content: none}
      &.active {background-position: -402px -653px;}
    }
  }
}

.footer {padding: 30px 0;position: absolute;left: 0;bottom: 0;width: 100%}

/*Screen 1 - START*/

.top_route {display: flex;width: 150px;position: absolute;top: 40px;right: 35px;
  a {width: 48px;height: 48px;margin: 0 10px;}
  .top_route__home {background-position: 0 0}
  .top_route__facebook {background-position: -70px 0;}
}


.download_grp {background-position: -2px -61px;width: 184px;height: 447px;position: absolute;right: 10px;bottom: 10%}
.download_grp__link {height: 330px;display: flex;flex-direction: column;align-items: center;padding: 170px 0 0;
  a {display: block;margin: 0 0 10px}
  .link_gg_play {background-position: -11px -547px;width: 143px;height: 40px;}
  .link_appstore {background-position: -11px -593px;width: 143px;height: 40px;}
  .link_apk {background-position: -11px -650px;width: 143px;height: 48px;}
}
.join_grp {display: block;width: 100%;height: 70px;margin: 20px 0 0;}

.btn_play {background-position: -188px -624px;width: 135px;height: 147px;position: absolute;top: 50%;left: 0;
  @include translate(0,-50%)
}

.bxh_icon {background-position: -1104px -698px;width: 196px;height: 183px;position: absolute;left: 0;top: 20%;z-index: 1}
#modalbxh {
  .modal-dialog {max-width: 950px}
  .modal-content {background:  url("../images/pc/popup-thele.png") no-repeat 0 0;width: 924px;height: 504px;border: none}
}
/*Screen 1 - END*/



/*Screen 2 - START*/
.btn_bottom {position: absolute;bottom: 3%;left: 0;width: 100%;display: flex;align-items: center;justify-content: space-around;font-size: 30px;
  a {}
  .btn_thele {background-position: -201px -228px;width: 318px;height: 110px;
    &:hover {background-position: -207px -351px;}
  }

  .btn_signin {background-position: -203px 0;width: 318px;height: 110px;
    &:hover {background-position: -201px -114px;}
  }

  .registered {background-position: -207px -477px;width: 322px;height: 122px;text-align: center;color: black;padding: 28px 0 0;line-height: 24px;}
}

.milestone {background: url("../images/pc/light.png") no-repeat 0 50%;width: 1156px;height: 456px;position: relative;margin: 60px auto 0}
.milestone_item {width: 189px;height: 180px;position: absolute}
.milestone_item_0 {background-position: -561px 0;left: 38px;top: 138px;
  &:hover {background-position: -811px 0;}
}
.milestone_item_1 {background-position: -561px -200px;left: 245px;top: 10px;
  &:hover {background-position: -811px -199px;}
}
.milestone_item_2 {background-position: -561px -403px;left: 490px;top: -46px;
  &:hover {background-position: -811px -407px;}
}
.milestone_item_3 {background-position: -561px -618px;right: 215px;top: 20px;
  &:hover {background-position: -811px -613px;}
}
.milestone_item_4 {background-position: -561px -836px;right: 10px;top: 170px;
  &:hover {background-position: -811px -824px;}
}

.milestone_wrapper {
  .tooltip-arrow {display: none}
  .tooltip-inner {background: transparent;color: white;padding: 0;max-width: inherit;
    .milestone_item__template {background: url("../images/pc/milestone-board.png") no-repeat 0 0;width: 251px;height: 285px;color: white;padding: 62px 16px 0 16px;text-align: left;font-size: 12px}
    .milestone_item__bullet {background-position: -408px -739px;width: 38px;height: 38px;}
  }
}

#modal_rules {
  .modal-dialog {max-width: 950px}
  .modal-content {background:  url("../images/pc/popup-thele.png") no-repeat 0 0;width: 924px;height: 504px;border: none;margin: 0 auto;padding: 100px 60px 60px}
  .modal_rules__inner {overflow-y: scroll;height: 100%;color: #d1602b;font-size: 20px;padding: 0 10px 0 0}
  .btn-close {background-position: -36px -733px;width: 57px;height: 57px;position: absolute;right: -50px;top: -10px;
    &:hover {opacity: .8}
  }
}
/*Screen 2 - END*/

/*Screen 3 - START*/

#hero_intro__tab {border: none;position: absolute;bottom: 5%;left: 50%;font-size: 0;
  @include translate(-70%,0);
  li {
    + li {margin: 0 0 0 12px}
  }
  button {background-color: transparent;padding: 0;width: 69px;height: 76px;border: none;opacity: .8;
    @include transition(opacity .3s ease);
    &:hover {opacity: 1;}
  }
  .hero_type1 {background-position: -14px -827px;
    &.active {background-position: -13px -909px;}
  }
  .hero_type2 {background-position: -99px -828px;
    &.active {background-position: -93px -909px;}
  }
  .hero_type3 {background-position: -175px -826px;
    &.active {background-position: -174px -907px;}
  }
  .hero_type4 {background-position: -254px -828px;
    &.active {background-position: -255px -909px;}
  }
  .hero_type5 {background-position: -337px -828px;
    &.active {background-position: -337px -910px;}
  }
  .hero_type6 {background-position: -418px -830px;
    &.active {background-position: -422px -911px;}
  }
}
#hero_intro__content {padding: 200px 0}

/*Screen 3 - END*/



/*Screen 4 - START*/
.card_selector__tab {border: none;
  li {margin: 0 0 12px;
    button {background-color: transparent;font-size: 0;text-indent: -9999em;width: 280px;height: 90px;border: none;outline: none}
  }
  .card_selector__item1 {background-position: -1020px 0;}
  .card_selector__item2 {background-position: -1020px -104px;}
  .card_selector__item3 {background-position: -1020px -207px;}
  .card_selector__item4 {background-position: -1020px -311px;}
  .card_selector__item5 {background-position: -1020px -414px;}
  .card_selector__item6 {background-position: -1020px -518px;}
}
.card_selector__content {}

/*Screen 4 - END*/


