<div class="modal fade" id="modal_play_now">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <a href="javascript:void(0)"  class="sprite btn-close" data-bs-dismiss="modal">xx</a>
            <div>
                <img src="images/popup-play-now.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>