<div class="modal fade" id="modal_register">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
{#            <a href="javascript:void(0)"  class="sprite btn-close" data-bs-dismiss="modal">x</a>#}
            <div class="modal_register__inner">
                <form action="" class="form_register">
                    <h3 class="mb-3 mb-sm-4">SỐ ĐIỆN THOẠI</h3>
                    <div class="mb-3 mb-sm-4">
                        <input type="tel" placeholder="" class="input_phone w-100" />
                    </div>
                    <div>
                        <button type="submit" class="btn_submit w-100"><strong>ĐĂNG KÝ</strong></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>