{%
    set arr = [
    {id: 0,text: '10.000 lượt'},
    {id: 1,text: '30.000 lượt'},
    {id: 2,text: '50.000 lượt'},
    {id: 3,text: '100.000 lượt'},
    {id: 4,text: '200.000 lượt'},
]
%}
<div class="section section_screen_2">
    <div class="container h-100 position-relative d-flex align-items-center">
        <div class="screen2_title">
            <img src="images/mobile/screen2-title.png" alt="Tập hợp liên minh anh hùng. Tham gia đại chiến người que"/>
        </div>
        <div class="milestone">
            {% for i in arr %}
                <a  href="javascript:void(0)"
                    class="sprite milestone_item milestone_item_{{ i.id }}"
                    data-id="milestone_item_{{ i.id }}"
                    data-bs-html="true"
                    data-bs-toggle="tooltip">
                    {{ item.text }}
                </a>
            {% endfor %}
        </div>
        <div class="btn_bottom">
            <a href="#" class="sprite btn_thele" data-bs-toggle="modal" data-bs-target="#modal_rules"></a>
            <a href="#" class="sprite btn_signin" data-bs-toggle="modal" data-bs-target="#modal_register"></a>
            <div class="sprite registered mx-auto">
                <strong class="fs_20">Đã đăng ký</strong>
                <br/>
                <strong class="fs_32">150.354</strong>
            </div>
        </div>
    </div>
</div>

