<div class="section section_screen_1">
    <div class="h-100">
        <h1 class="logo">
            <a href="#/" title="Stick man">
                <img src="images/logo.png" alt="Stick man"/>
            </a>
        </h1>
        <!-- Button trigger modal -->
{#        <a href="javascript:void(0)" class="bxh_icon"></a>#}
        <div class="container h-100 position-relative">
            <a href="#javascript:void(0)" class="sprite btn_play" data-bs-toggle="modal" data-bs-target="#modal_trailer"></a>
        </div>
        <div class="top_route">
            <a href="#" class="top_route__home sprite"></a>
            <a href="#" target="_blank" class="top_route__facebook sprite"></a>
        </div>
{#        <div class="text-center fs_0">#}
{#            <img src="images/mobile/fgfg.png" alt="" />#}
{#        </div>#}
        {#            <div class="sprite download_grp">#}
        {#                <div class="download_grp__link">#}
        {#                    <a href="#" class="sprite link_gg_play"></a>#}
        {#                    <a href="#" class="sprite link_appstore"></a>#}
        {#                    <a href="#" class="sprite link_apk"></a>#}
        {#                </div>#}
        {#                <a href="#" class="join_grp fs-0">Join group</a>#}
        {#            </div>#}
    </div>
</div>
