<div class="section section_screen_3">
    <div class="container h-100 position-relative">
        <div class="hero_intro h-100">
            <div class="tab-content h-100" id="hero_intro__content">
                <div class="tab-pane fade show active" id="hero_type1">
                    <div class="hero_figure">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">1</div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">2</div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">3</div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="hero_type2">
                    <h1>lksd jlkdfjg lkdjfg3334423</h1>
                </div>
                <div class="tab-pane fade" id="hero_type3">
                    <h1>lsdjf sldjf98290 3809283490</h1>
                </div>
                <div class="tab-pane fade" id="hero_type4">
                    <h1>lsdjf sldjf98290 3809283490</h1>
                </div>
                <div class="tab-pane fade" id="hero_type5">
                    <h1>lsdjf sldjf98290 3809283490</h1>
                </div>
                <div class="tab-pane fade" id="hero_type6">
                    <h1>lsdjf sldjf98290 3809283490</h1>
                </div>
            </div>
            <ul class="nav nav-tabs" id="hero_intro__tab">
                <li>
                    <button class="hero_type1 sprite active" data-bs-toggle="tab" data-bs-target="#hero_type1" type="button"></button>
                </li>
                <li>
                    <button class="hero_type2 sprite" data-bs-toggle="tab" data-bs-target="#hero_type2" type="button"></button>
                </li>
                <li>
                    <button class="hero_type3 sprite" data-bs-toggle="tab" data-bs-target="#hero_type3" type="button"></button>
                </li>
                <li>
                    <button class="hero_type4 sprite" data-bs-toggle="tab" data-bs-target="#hero_type4" type="button"></button>
                </li>
                <li>
                    <button class="hero_type5 sprite" data-bs-toggle="tab" data-bs-target="#hero_type5" type="button"></button>
                </li>
                <li>
                    <button class="hero_type6 sprite" data-bs-toggle="tab" data-bs-target="#hero_type6" type="button"></button>
                </li>
            </ul>
        </div>

    </div>
</div>