.ezb_link {color: $primary;font-weight: $font-weight-bold;font-size: $font-size-sm;
	i {margin-left: 5px;
		@include transition(all .3s ease);
	}
	&:hover {color: $color-text;
		i {
			@include translate(3px,0);
		}
	}
}
