<div id="footer">
    <div class="container footer_container">
        <div class="mb-3 text-center">
            <a href="#">HỖ TRỢ</a> | <a href="#">CÀI ĐẶT</a> | <a href="#">ĐIỀU KHOẢN</a>
        </div>
       <p class="text-center m-0">
           GIẤY PHÉP NỘI DUNG SỐ: 1015/QĐ-BTTTT DO BỘ THÔNG TIN VÀ TRUYỀN THÔNG CẤP NGÀY 2/6/2021
           <br/>
           CHƠI QUÁ 180 PHÚT MỘT NGÀY SẼ ẢNH HƯỞNG XẤU ĐẾN SỨC KHỎE
           <br/>
           THỜI GIAN: 8:00 - 22:00 CÁC NGÀY (GMT+7)
       </p>
    </div>
</div>
