<div class="modal fade" id="modal_rules">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <a href="javascript:void(0)"  class="sprite btn-close" data-bs-dismiss="modal">xx</a>
            <div class="modal_rules__inner">
                <strong>Đăng Ký Đạt Mốc</strong>
                <br/>
                <strong>1. Thời gian sự kiện:</strong> 24/09/2022 - 29/09/2022
                <br/>
                <strong>2. Đối tượng tham gia:</strong> - Tất cả công dân là người Việt Nam trên 18 tuổi, sinh sống hoặc làm việc tại nước ngoài
                <br/>
                <strong>3. Nội dung hoạt động:</strong> - Anh Hùng đăng ký đạt mốc sẽ nhận được thưởng tương ứng - Kết thúc sự kiện, tổng lượt đăng ký đạt mốc nào sẽ phát quà mốc đó (chỉ phát mốc cao nhất)
                <br/>
                <strong>4. Chi tiết phần thưởng:</strong>
                <br/>
                - Mốc 10. 000 Lượt: 100 Hỏa Diêm, Mảnh Tướng 5 Sao*5, Tinh Phách Lớn*1, Tiền Vàng Lớn*1
                <br/>
                - Mốc 30.000 Lượt: 150 Hỏa DiêmMảnh, Tướng 5 Sao*10, 1000K Vàng, Búa Cường Hóa - Sơ*10
                <br/>
                - Mốc 50.000 Lượt: 200 Hỏa Diêm, Giấy Triệu Hồi Tướng*2, Thẻ Linh Nguyện*3, Búa Cường Hóa - Trung*5
                <br/>
                - Mốc 100.000 Lượt: 300 Hỏa Diêm, Giấy Triệu Hồi Tướng*3, Vàng + Tinh Phách Lớn*1, Thẻ Tự Chọn Tứ Hệ 4 Sao*2
                <br/>
                - Mốc 200.000 Lượt: Giấy Triệu Hồi Tướng*5, 3000K Vàng, 2000K Tinh Phách, 1000 Nguyên Sinh Thạch, 500 Hỏa Diêm
                <br/>

                <p><i>
                        Lưu ý: - Phần thưởng sẽ được trao cho tất cả những người đã tham gia đăng ký trong vòng 72h sau khi kết thúc sự kiện.
                        - Code của sự kiện là code chung và có hiệu lực 72h từ lúc phát code.</i>
                </p>

            </div>
        </div>
    </div>
</div>