<div class="modal fade" id="modal_rules">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <a href="javascript:void(0)"  class="sprite btn-close" data-bs-dismiss="modal">xx</a>
            <div class="modal_rules__inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                    Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
            </div>
        </div>
    </div>
</div>