<div class="section section_screen_4">
    <div class="footer bg-white">
        <div class="container">
            <div class="row">
                <div class="col-3 text-center">
                    <a href="#" target="_blank"><img src="images/v-play.png" alt=""/></a>
                </div>
                <div class="col-9">
                    <p class="m-0 fs_20">
                        Hotline: <a href="tel:1900866666">1900866666</a> - Email: <a href="mailto:hotro@vplay.vn">hotro@vplay.vn</a> <br/>
                        Giấy phép phê duyệt nội dung số 52/QĐ-BTTTT cấp ngày 19/01/2022
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>