<div class="section section_screen_2">
    <div class="container h-100 position-relative">

        <div class="btn_bottom">
            <a href="#" class="sprite btn_thele"></a>
            <div class="sprite registered">
                <strong class="fs_20">Đã đăng ký</strong>
                <br/>
                <strong class="fs_32">150.354</strong>
            </div>
            <a href="#" class="sprite btn_signin"></a>
        </div>
    </div>
</div>