<div class="section section_screen_1">
    <video autoplay muted loop id="section_screen_video">
        <source src="images/pc/bg-video.mp4" type="video/mp4">
    </video>
    <h1 class="logo">
        <a href="#/" title="Stick man">
            <img src="images/logo.png" alt="Stick man"/>
        </a>
    </h1>
    <!-- Button trigger modal -->
    <a href="javascript:void(0)" class="sprite bxh_icon" data-bs-toggle="modal" data-bs-target="#modal_chart"></a>
    <div class="container h-100 position-relative">
        <a href="#" class="sprite btn_play"></a>
    </div>
    <div class="top_route">
        <a href="#/" class="top_route__home sprite"></a>
        <a href="#" target="_blank" class="top_route__facebook sprite"></a>
    </div>
</div>