<div class="section section_screen_1">
    <h1 class="logo">
        <a href="#/" title="Stick man">
            <img src="images/logo.png" alt="Stick man"/>
        </a>
    </h1>
    <div class="top_route">
        <a href="#/" class="top_route__home sprite"></a>
        <a href="#" target="_blank" class="top_route__facebook sprite"></a>
    </div>
</div>