{% extends "../layout/layout.twig" %}
{% block pageTitle %} Home | Dũng sĩ rồng {% endblock %}
{% block page %}
    <div id="page_home" class="page_main">
        {% include '../layout/header.twig' %}
        <div class="page_body mb-6">
            <div class="slogan text-center">
                <img src="images/slogan.png" alt="Dũng sĩ rồng"/>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4 text-end">
                        <a href="javascript:void(0)" class="sprite btn_home" data-bs-toggle="modal" data-bs-target="#exampleModal"> Trang chủ</a>
                    </div>
                  <div class="col-4 text-center">
                      <a href="#" class="sprite btn_download  btn_download__pc" title="Download Pc" data-bs-toggle="modal" data-bs-target="#exampleModal">Download Pc</a>
                      <a href="#" class="sprite btn_download  btn_download__ios" title="Download iOS" data-bs-toggle="modal" data-bs-target="#exampleModal">Download iOS</a>
                      <a href="#" class="sprite btn_download  btn_download__android" title="Download Android" data-bs-toggle="modal" data-bs-target="#exampleModal">Download Android</a>
                      <a href="#" class="sprite btn_download  btn_download__apk" title="Download Apk" data-bs-toggle="modal" data-bs-target="#exampleModal">Download Apk</a>
                  </div>
                    <div class="col-4">
                        <a href="#" class="sprite btn_napthe" title="Nạp thẻ" data-bs-toggle="modal" data-bs-target="#exampleModal">Nạp thẻ</a>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <a href="#" class="sprite btn_action btn_fanpage" target="_blank" title="Fanpage" data-bs-toggle="modal" data-bs-target="#exampleModal">Fanpage</a>
                <a href="#" class="sprite btn_action btn_chat" title="Chat với Admin" data-bs-toggle="modal" data-bs-target="#exampleModal">Chat với Admin</a>
                <a href="#" class="sprite btn_action btn_code" title="Hd nhập code" data-bs-toggle="modal" data-bs-target="#exampleModal">Hướng dẫn nhập code</a>
                <br/>
                <a href="#" class="sprite btn_action btn_youtube" title="Youtube" data-bs-toggle="modal" data-bs-target="#exampleModal">Youtube</a>
                <a href="#" class="sprite btn_action btn_tiktok" title="Tiktok" data-bs-toggle="modal" data-bs-target="#exampleModal">Tiktok</a>
            </div>
        </div>
        {% include '../layout/footer.twig' %}
        {% include '../common/comming-soon.twig' %}
    </div>
{% endblock %}
